<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="fa-solid fa-close" onclick="closeNav()"></a>
  <a href="#">Home</a>
  <a href="#">Profile</a>
  <a href="javascript: document.logoutForm.submit()">Logout</a>
  <form name="logoutForm" action="/logout?_method=DELETE" method="POST" hidden=true></form>
</div>
  
<!-- Use any element to open the sidenav -->
<span onclick="openNav()" class="fa-solid fa-bars"></span>